body {
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../images/bg-body.jpg");
}
h1 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 2.5rem;
}
p {
  font-family: "Orbitron", sans-serif;
  }


#game-screen h2 {
  font-family: "Orbitron", sans-serif;
  color: white;
  text-align: end;
  padding-right: 5%;
}

.center-img {
  text-align: center;
}

#music1,#music2,#music3,#music4 {
  display: none;
}
#top-view {
  height: 90px;
  display: flex;
  align-items:center;
}
#vidas-screen {
  padding-left: 10px;
  padding-right: 50px;
  display: flex;
  justify-content:space-around;
  flex-direction:row
}
#vidas {display: flex;
  justify-content: center;
  padding-left: 30px;
}

#powerUps {
  height: 90px;
  display: flex;
  justify-content:space-evenly ;
}

.recuadro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
  background-color: cadetblue;
}

#game-box {
  background-color: darkgray;
  width: 1150px;
  height: 450px;
  overflow: hidden;
  position: relative; 
  user-select: none; 
  background-image: url("../images/bg-game.png");
  background-position: center;
  background-size: contain;
}
#top-view  {
  display: flex;
  justify-content: space-around;

  
}
#inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
  width: 1200px;
  height: 450px;
  background-image: url("../images/bg-renault.png");
  background-repeat: repeat;
  background-size: cover;
}
.btn-position {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding-top: 20px 0px;
}

#instrucciones,
#gameover-screen,
#game-screen,#win
 {
  display: none;
}
