body {
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../images/bg-body.jpg");
}
#instrucciones,
#gameover-screen,
#game-screen,
#win,#gameover-screen-hardcore {
  display: none;
}

h1 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 2.5rem;
}
h2 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 2rem;
}

p {
  font-family: "Orbitron", sans-serif;
}
button {
  font-family: "Orbitron", sans-serif;
}


#game-screen h2 {
  font-family: "Orbitron", sans-serif;
  color: white;
  text-align: end;
  padding-right: 5%;
}

.center-img {
  text-align: center;
}

#music1,
#music2,
#music3,
#music4,
#music5 {
  display: none;
}
#top-view {
  height: 90px;
  display: flex;
  align-items: center;
}
#vidas-screen {
  padding-left: 10px;
  padding-right: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
#vidas {
  display: flex;
  justify-content: center;
  padding-left: 30px;
}

#powerUps {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
}
#stage {
  padding-right: 30px;
  width: 300px;
}
#speed {
  padding-left: 30px;
  width: 800px;
  text-align: left;
  position: relative;
  bottom: 17px;
  

}
#speed h2{
  font-size: 1.6rem;

}

.recuadro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
  
}

#game-box {
  background-color: darkgray;
  width: 1150px;
  height: 450px;
  overflow: hidden;
  position: relative;
  user-select: none;
  background-image: url("../images/bg-game.png");
  background-position: center;
  background-size: contain;
  
}
#top-view,#powerUps {
  display: flex;
  justify-content: space-around;
  background-image: url("../images/div-background.png");
}
 

#gameover-screen,#gameover-screen-hardcore,#win {
  
  background-image: url("../images/div-background.png");
}
#inicio {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
  width: 1200px;
  height: 450px;
  background-image: url("../images/bg-renault.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: left;
  background-color: black;
}
#inicio h1{
  padding-top: 12px;
    -webkit-text-stroke: 3.5px darkblue;
    text-shadow:2px 2px 2px white;
  text-decoration: double;
  color:yellow;
  font-size: 3.2rem;
  position: relative;
  top:30px
}
.btn-position {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.btn-positionGameOver {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  padding: 20px;
  gap: 40px;
  
}

#start-btn,#instr-btn {
  position: relative;
  bottom: 30px;
}
#center-img{
  position: relative;
  bottom:11px
}



#start-btn,
#instr-btn,
#inicio-instr-btn,
#inicio-btn,
#tryAgain,
#win-to-inicio,#hardcore,#inicio-btn-hardcore,#tryAgainHardcore {
  font-weight: 600;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px 0 white, 0 6px 20px 0 white;
  transition-duration: 0.4s;
  color: blue;
  border-radius: 20px;
  
  
}

#inicio-instr-btn{
  position: absolute;
  top: 500px;
  
}

#inicio-instr-btn:hover {
  box-shadow: 0 12px 16px 0 cornflowerblue, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: blue;
  color: white;
}
#start-btn:hover {
  box-shadow: 0 12px 16px 0 cornflowerblue, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: blue;
  color: white;
}
#instr-btn:hover {
  box-shadow: 0 12px 16px 0 cornflowerblue, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: blue;
  color: white;
}


#inicio-btn:hover {
  box-shadow: 0 12px 16px 0 cornflowerblue, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: blue;
  color: white;
}

#tryAgain:hover {
  box-shadow: 0 12px 16px 0 cornflowerblue, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: blue;
  color: white;
}

#win-to-inicio:hover {
  box-shadow: 0 12px 16px 0 cornflowerblue, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: blue;
  color: white;
}

#inicio-btn-hardcore:hover {
  box-shadow: 0 12px 16px 0 cornflowerblue, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: blue;
  color: white;
}
#tryAgainHardcore:hover {
  box-shadow: 0 12px 16px 0 cornflowerblue, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: blue;
  color: white;
}
#hardcore:hover {
  box-shadow: 0 12px 16px 0 cornflowerblue, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: blue;
  color: white;
}